html {
    font-family: YuGothic,"游ゴシック","メイリオ",Meiryo,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",sans-serif;
    font-size: 14px;
    min-height: 100%;
    position: relative;
}
.btn {
    margin-top: 30px;
}